body{
  font-family: 'Poppins', sans-serif;
}
.hero{
  height: 35vh;
  padding: 35px 20px;
  /* background: linear-gradient(135deg, #007bff, #00c6ff); */
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.hero h1{
  font-size: 3rem;
  font-weight: bold;
}
#searchInput{
  margin-top: 10px;
  padding: 10px;
  border-radius: 30px;
}

/* Custom Job Card */
 .job-card{
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  /*background: white; */
  color: #000;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.job-card:hover{
  transform: translateY(-8px);
  bax-shadow: 0 15px 30px rgba(0,0,0,0.2);
}
.apply-btn{
  width: 50%;
  border-radius: 10px;
  align-items: center;
} 